body {
	background-color:#CCCCCC; 
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
}
#main{
 	width:1024px; 
	background-color:#FFFFFF; 
	margin:auto; 
	-moz-box-shadow:    3px 3px 5px 6px #999999;
	-webkit-box-shadow: 3px 3px 5px 6px #999999;
	box-shadow:         3px 3px 5px 6px #999999;	
}
#topHeader{
	font-size:34px;
	padding:10px;
	height:auto;

}

.bluebar{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	background-image: -moz-linear-gradient(top, #2567A4, #466CB2); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2567A4),color-stop(1, #466CB2)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#2567A4, #466CB2 70%);
	background-image: -o-linear-gradient(90deg,rgb(18,79,126),rgb(59,137,197));
	color:#FFFFFF;
}
.bluebar td{
    border-top: medium none;
    color: #FFFFFF;
    font-weight: bold;
    height: 32px;
    text-align: center;
    vertical-align: middle;
}

.innerblue{
	color:#000000; 
	float:right; 
	padding: 0px 25px; 
	-moz-border-radius: 15px 15px 15px 15px; 
	border-radius: 15px 15px 15px 15px; 
	background-color:#FFFFFF;
}
.graybar{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	color:#000000;
	margin-top:10px;	
	background-image: -moz-linear-gradient(top, #F4F4F4, #E2DCDC); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F4F4),color-stop(1, #E2DCDC)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#F4F4F4, #E2DCDC 70%);
	background-image: -o-linear-gradient(90deg,#E2DCDC,#F4F4F4);
}
.roundbg{
	font-size:12px; 
	text-align:justify; 
	margin-top: 5px; 
	height: auto; 
	padding: 10px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	background-color:#F2F5FA;
}

.directories{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	color:#000000;
	margin-top:10px;
	background-image: -moz-linear-gradient(top, #ffffff, #3A99C1); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #3A99C1)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#ffffff, #3A99C1 70%);
	background-image: -o-linear-gradient(90deg, #3A99C1, #ffffff);
}

.competition{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	color:#000000;
	margin-top:10px;
	margin-top:20px; background-image: -moz-linear-gradient(top, #ffffff, #71CA2F); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #71CA2F)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#ffffff, #71CA2F 70%);
	background-image: -o-linear-gradient(90deg,#71CA2F, #ffffff);
}

.location{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	color:#000000;
	margin-top:10px;
	margin-top:20px; background-image: -moz-linear-gradient(top, #ffffff, #FF6600); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #FF6600)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#ffffff, #FF6600 70%);
	background-image: -o-linear-gradient(90deg,#FF6600, #ffffff);
}

.reputation{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	color:#000000;
	margin-top:10px;
	margin-top:40px; background-image: -moz-linear-gradient(top, #ffffff, #6EDAFE); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #6EDAFE)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#ffffff, #6EDAFE 70%);
	background-image: -o-linear-gradient(90deg,#6EDAFE, #ffffff);
}

.webmentions{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 10px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	color:#000000;
	margin-top:10px;
	margin-top:40px; background-image: -moz-linear-gradient(top, #ffffff, #CFA62C); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #CFA62C)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#ffffff, #CFA62C 70%);
	background-image: -o-linear-gradient(90deg,#CFA62C, #ffffff);
}


.pbarouter{
	text-align: left; 
	font-size: 18px; 
	height: auto; 
	padding: 5px 5px; 
	-moz-border-radius: 15px 15px 15px 15px; 
	border-radius: 15px 15px 15px 15px; 
	background-image: -moz-linear-gradient(top, #B7C8FB, #7085C4); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #B7C8FB),color-stop(1, #7085C4)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#B7C8FB, #7085C4 70%);
	background-image: -o-linear-gradient(90deg,#7085C4,#B7C8FB);
	color:#FFFFFF;
	width:290px;
	height:80px;
	float:right;
	margin-top:10px;
}

.pbarinner{
	font-size:36px;
	color:#000000; 
	float:right; 
	width:290px;
	height:80px;
	-moz-border-radius: 15px 15px 15px 15px; 
	border-radius: 15px 15px 15px 15px; 
	background-image: -moz-linear-gradient(top, #CFCFCF, #FDFDFD); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CFCFCF),color-stop(1, #FDFDFD)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#CFCFCF, #FDFDFD 70%);
	background-image: -o-linear-gradient(90deg,#FDFDFD,#CFCFCF); 
}

.localScore{
	margin:10px; 
	float:right; 
	width:290px; 
	background-image: -moz-linear-gradient(top, #CFCFCF, #FEFEFE); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #CFCFCF),color-stop(1, #FEFEFE)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#CFCFCF, #FEFEFE 70%);
	background-image: -o-linear-gradient(90deg,#FEFEFE,#CFCFCF);
}

#totalscore{
	text-align: left; 
	font-size: 28px; 
	height: auto;
	font-weight:600;
	padding: 10px 20px; 
	-moz-border-radius: 10px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px;
	background-image: -moz-linear-gradient(top, #E2DCDC, #F4F4F4); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E2DCDC),color-stop(1, #F4F4F4)); /* Saf4+, Chrome */
	-pie-background: linear-gradient(#E2DCDC, #F4F4F4 70%);
	background-image: -o-linear-gradient(90deg,#F4F4F4,#E2DCDC);
	border:2px solid #B3C4F8;
	color:#2567A4;
	margin-top:20px;
}